@{
    ViewBag.Title = "Bergfall Development";
}
@section scripts{

    <script src="~/Scripts/jquery.tubular.1.0.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.blast.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#wrapper").tubular({ videoId: 'wx8JEu96mVY' });
            //$("#logoText").blast({ delimiter: "character" })
            $("#logoContainer").animate({
                top: "+=200px",
                height: "+=300px",
                paddingTop: "+=180px"
            }, 10000);
        });
        // wx8JEu96mVY, ayAE4ca3hOQ
       
    </script>
 }
<div id="wrapper">
    <div id="logoContainer">
        <h1 id="logoText">Bergfall Development</h1>
        <p class="lead">Systemutvikler med flere års bred erfaring søker jobb.</p>

    </div>
</div>


        <h2>Jobleting statistikk</h2>
        
        @Html.ActionLink("Iverksett", "Index", "JobSearch")
    
